<div class="jumbotron jumbotron-fluid">
    <div class="container d-flex justify-content-center" style="width: 700px;">
        <h4 class="display-4 py-4">
            <div class="my-4">
                <%= Question.find(Question.pluck(:id).sample).description %>
            </div>
            <form autocomplete="off">
                <div class="form-group form-group-lg">
                    <input type="text" class="form-control form-control-lg p-4" id="my-value" placeholder="" style="font-size: 2rem;">
                    <button type="submit" class="btn btn-secondary btn-lg btn-block py-2 my-4">Submit</button>
                </div>
            </form>
            <div id="api-form-output" class="my-4" style="color: hotpink;">
            </div>
        </h4>
    </div>
</div>

<!-- HERE IS WHERE THE myAPI IS CALLED -->
<%= javascript_pack_tag 'myApi' %>

