<div class="h2 m-4 pl-4" id="api-form-input">
    <div class="input-group mb-3 w-50">
        <input type="text" id="api-form-input" class="form-control" placeholder="How are you feeling?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" id="button-click" type="button">Button</button>
        </div>
    </div>
    Feeling bad!
</div>

<div class="h2 m-4 pl-4 d-none" id="api-form-output">
</div>
