<div class ="container">
    <div class="row">
        <div class="d-flex flex-column p-4">
            <form class="m-4">
                <div class="form-group form-group-lg">
                    <input type="text" class="form-control form-control-lg" id="my-value" placeholder="How are you feeling?">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="d-flex flex-column p-4">
            <div id="api-form-output" class="h5 m-4"></div>
        </div>
    </div>
</div>
<!-- HERE IS WHERE THE myAPI IS CALLED INTO THIS FILE. -->
<%= javascript_pack_tag 'myApi' %>