<div class="h2 m-4 pl-4">
I feel happy!
</div>

<div class="h2 d-none m-4 pl-4" style="color: green;" id="api-form-output">
d-none hidden element
</div>

<!-- THIS SHOWS IN CONSOLE -->
<div class="container m-1"
    <div class="input-group mb-3">
        <input type="text" id="api-form-input" class="form-control" placeholder="How are you feeling?" aria-label="Recipient's username" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary my-2" id="button-click" type="button">Button</button>
        </div>
    </div>
</div>