// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#api-form-output {
   font-weight: lighter;
   color: rgb(115, 131, 136);
}

#btn-api {
   padding: 10px 20px;
   border-radius: 2px;
   border: none;
   color: white;
   background-color: #7d9da7;
}

.btn:hover {
   background-color: #7d9da7;
}

.form-control {
   border-color: #7d9da7;
   font-weight: 400;
   font-size: 1.2em;
}
