// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#api-form-output {
   font-weight: lighter;
   color: rgb(115, 131, 136);
}

#btn-api {
   padding: 10px 20px;
   border-radius: 2px;
   border: none;
   color: white;
   background-color: rgb(138, 173, 184);
}

.btn:hover {
   background-color: rgb(155, 177, 184);
}

.form-control {
   border: none;
   font-weight: 400;
   font-size: 1.4em;
}

